# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
.turbo/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Prisma
packages/db/prisma/*.db

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
